Source: crmpy
Section: shells
Priority: optional
Maintainer: Victor Freitas (vfreitas)
Build-Depends: debhelper (>=9.0.50~), python-support (>= 0.6), cdbs (>= 0.4.49), python-all-dev
XS-Python-Version: >=2.4
Standards-Version: 3.8.4

Package: main
Architecture: all
Homepage: http://vfreitas.com/
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}
Description: CRM Pie.
